{% extends 'layout.html' %}

{% block customstyle %}
<!-- <link rel="stylesheet" href="./static/css/styles.css"> -->
<link rel="stylesheet" href="https://flash-web-app-helper.azurewebsites.net/static/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,100&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<h1>Custom Login Page</h1>
<div id="api"></div>

<script type="text/javascript">
    const emailInputEl = document.getElementById('email');
    const emailIco = document.createElement("i");
    emailIco.setAttribute("class", "fa fa-envelope icon");
    document.getElementsByClassName("entry-item")[0].insertBefore(emailIco,emailInputEl);

    const passwordInputEl = document.querySelector('#password');
    const passwordIco = document.createElement("i");
    passwordIco.setAttribute("class", "fa fa-lock icon");
    document.getElementsByClassName("entry-item")[1].insertBefore(passwordIco,passwordInputEl);
</script>
{% endblock %}